
export VENVPATH="${workdir}/.venv"

sudo apt update
sudo apt install python3-full -y
sudo mkdir -p ${workdir}

sudo python3 -m venv $VENVPATH

export BOOTSTRAP_SERVERS=${bootstrap_servers}

cat << 'DELIVERY_TRACK' > ${workdir}/delivery_tracking_simulator.py
${delivery_tracking_simulator_script}
DELIVERY_TRACK

cat << 'PRODUCER_PY_FILE' > ${workdir}/producer.py
${ producer_script }
PRODUCER_PY_FILE

cat << 'REQ' > ${workdir}/requirements.txt
${ requirements_file }
REQ

$VENVPATH/bin/pip3 install -r ${workdir}/requirements.txt
$VENVPATH/bin/python3 ${workdir}/producer.py