[Unit]
Description=Servidor Kafka
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
Environment="KAFKA_OPTS=-javaagent:/jmx_prometheus_javaagent-1.5.0.jar=8091:${prometheus_properties_filename}"
ExecStart=${kafka_home}/bin/kafka-server-start.sh ${kafka_server_properties_filename}

[Install]
WantedBy=multi-user.target