
bootstrap.servers=${ bootstrap_servers }

group.id=connect-cluster

key.converter=org.apache.kafka.connect.storage.StringConverter
value.converter=org.apache.kafka.connect.json.JsonConverter

key.converter.schemas.enable=false
value.converter.schemas.enable=false


offset.storage.topic=connect-offsets
offset.storage.replication.factor=1

config.storage.topic=connect-configs
config.storage.replication.factor=3


status.storage.topic=connect-status
status.storage.replication.factor=3


offset.flush.interval.ms=1000

listeners=HTTP://:8083

plugin.path=/libs