#!/bin/bash
############################## Instalacao de pacotes ##############################

sudo apt update
sudo apt install -y default-jdk unzip

############################ Download de dependencias #############################

# Kafka
sudo wget https://dlcdn.apache.org/kafka/4.1.1/kafka_2.13-4.1.1.tgz

# JMX Kafka para monitoramento
sudo wget https://github.com/prometheus/jmx_exporter/releases/download/1.5.0/jmx_prometheus_javaagent-1.5.0.jar

# Redis Kafka Connect
sudo wget https://hub-downloads.confluent.io/api/plugins/redis/redis-kafka-connect/versions/0.9.1/redis-redis-kafka-connect-0.9.1.zip


############################### Extracao de arquivos ###############################

# Unzip de Kafka Connect
sudo unzip redis-redis-kafka-connect-0.9.1.zip
sudo mv /redis-redis-kafka-connect-0.9.1/lib/ /libs/

sudo tar -xzf /kafka_2.13-4.1.1.tgz
sudo mv /kafka_2.13-4.1.1 ${ kafka_home }
sudo rm -rf /kafka_2.13-4.1.1.tgz

############################# Configurações servidor ##############################
# Arquivo de configuração a ser modificado
export PATH_SERVER_PROPERTIES="${ kafka_home }/config/server.properties"
export PATH_CONNECTORS_PROPERTIES="${ kafka_home }/config/custom-connector.properties"
export PATH_REDIS_SINK_PROPERTIES="${ kafka_home }/config/redis-sink.properties"
export PATH_PROMETHEUS_KAFKA_CONFIG="/prometheus/rules/kafka_config.yml"

export KAFKA_BROKER_NAME="kafka-broker-${instance_number}"
# Definicao de valor `advertised.listeners`
export ADVERTISED_LISTENERS="PLAINTEXT://$KAFKA_BROKER_NAME:9092"
# Definicao de valor `listeners`
export LISTENERS="PLAINTEXT://$KAFKA_BROKER_NAME:9092,CONTROLLER://$KAFKA_BROKER_NAME:9093"



################################ Instalacao Kafka #################################

# Download e extracao do Kafka

# Criacao de pastas e ajustes de permissoes
sudo mkdir -p ${ log_dirs }
sudo mkdir -p /prometheus/rules
sudo chown -R $USER:$USER ${ log_dirs }

cat << 'KAFKA_CONFIG' > $PATH_PROMETHEUS_KAFKA_CONFIG
${ prometheus_kafka_config_file }
KAFKA_CONFIG

########################### Modificacao de parametros #############################

# Scripts para substituição de parametros em arquivo de propriedade

sudo sed -i -e "s\
|node.id=1\
|node.id=${ instance_number }\
|g" $PATH_SERVER_PROPERTIES

sudo sed -i -e "s\
|controller.quorum.bootstrap.servers=localhost:9093\
|controller.quorum.bootstrap.servers=${ controller_quorum_bootstrap_servers }\
|g" $PATH_SERVER_PROPERTIES


sudo sed -i -e "s\
|listeners=PLAINTEXT://:9092,CONTROLLER://:9093\
|listeners=$LISTENERS\
|g" $PATH_SERVER_PROPERTIES

sudo sed -i -e "s\
|log.dirs=/tmp/kraft-combined-logs\
|log.dirs="${ log_dirs }/data"\
|g" $PATH_SERVER_PROPERTIES


sudo sed -i -e "s\
|advertised.listeners=PLAINTEXT://localhost:9092,CONTROLLER://localhost:9093\
|advertised.listeners=$ADVERTISED_LISTENERS\
|g" $PATH_SERVER_PROPERTIES

sudo sed -i -e "s\
|num.partitions=1\
|num.partitions=${partitions_num}\
|g" $PATH_SERVER_PROPERTIES

############################# Configuracao de Storage #############################

sudo ${kafka_home}/bin/kafka-storage.sh \
  format \
  -t ${ kafka_cluster_id }\
  -c $PATH_SERVER_PROPERTIES\
  --initial-controllers ${ initial_controllers }

############################ Inicializacao de servidor ############################

sudo KAFKA_OPTS="-javaagent:/jmx_prometheus_javaagent-1.5.0.jar=8091:$PATH_PROMETHEUS_KAFKA_CONFIG" ${kafka_home}/bin/kafka-server-start.sh -daemon $PATH_SERVER_PROPERTIES
sudo /opt/kafka/bin/kafka-topics.sh --bootstrap-server $KAFKA_BROKER_NAME:9092 --create --topic teste

############################ Instalacao Kafka Connect #############################

sudo bash -c "echo 'cleanup.policy=compact' >> $PATH_SERVER_PROPERTIES"

cat << REDIS > $PATH_REDIS_SINK_PROPERTIES
${ redis_sink_properties_file }
REDIS

cat << CONNECTOR_STANDALONE > $PATH_CONNECTORS_PROPERTIES
${ connector_properties_file }
CONNECTOR_STANDALONE

sudo ${kafka_home}/bin/connect-distributed.sh -daemon  $PATH_CONNECTORS_PROPERTIES $PATH_REDIS_SINK_PROPERTIES

export TIME_TO_RETRY=2

while [ "$(curl -o /dev/null -s -w '%%{http_code}' http://$KAFKA_BROKER_NAME:8083/connectors)" -ne 200 ]
do
  sleep $TIME_TO_RETRY
  (( TIME_TO_RETRY *= 2 ))
done

sudo curl -X POST http://$KAFKA_BROKER_NAME:8083/connectors \
  -H "Content-Type: application/json" \
  -w "\n" \
  --data @- << 'REQUEST'
{
  "name": "RedisKafkaSinkConnector",
  "config": {
    "connector.class": "com.redis.kafka.connect.RedisSinkConnector",
    "tasks.max": "1",
    "topics": "teste",
    "redis.uri": "redis://redis:6379",
    "redis.type": "JSON",
    "redis.command": "JSONSET",
    "key.converter": "org.apache.kafka.connect.storage.StringConverter",
    "value.converter": "org.apache.kafka.connect.json.JsonConverter",
    "value.converter.schemas.enable": "false",
    "key.converter.schemas.enable": "false"
  }
}
REQUEST



