

global:
  scrape_interval: "${ scrape_interval_seconds }s"
  external_labels:
    monitor: "kafka-monitor"

scrape_configs:
  - job_name: "kafka-broker"

    static_configs:
      - targets:
        %{ for broker in ${ brokers_names } ~}
          - "${ broker }:${ port }"
        %{ endfor ~}

        labels:
          env: "dev"