
############################# Configuracoes Gerais #############################

name=RedisKafkaSinkConnector
connector.class=com.redis.kafka.connect.RedisSinkConnector
topics=${topics}
redis.database=0
redis.timeout=60

#################################### Rede ######################################

redis.host=${ host }
redis.port=${ port }
redis.uri=redis://${ host }:${ port }

################################ Key & Value ####################################

redis.command=JSONSET