[Unit]
Description=Promtheus
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
User=root
Group=root
RestartSec=1
ExecStart=/prometheus/prometheus --config.file=/prometheus/prometheus.yml

[Install]
WantedBy=multi-user.target